.git
.gitignore
.env
.env.*
venv
ENV
__pycache__
*.pyc
*.pyo
*.log
.idea
.vscode
docker_data
backups
metabase-transfer
staticfiles
media
private_data_lake
data_lake
README.md
.pytest_cache
htmlcov
.coverage
