{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="addresses-page">
    <div class="addresses-hero">
        <div class="addresses-hero-text">
            <h1>Наши адреса</h1>
        </div>
    </div>

    <div class="addresses-content">
        <div class="addresses-list">
            <div class="address-card">
                <div class="address-info">
                    <h3>Butter cafe</h3>
                    <p class="address-street">ул. Лобачевского, 10а</p>
                    <p class="address-metro">м. Кремлевская</p>
                    <div class="address-contacts">
                        <p>+7 (913) 353-22-22</p>
                        <p>butterbakery@mail.ru</p>
                    </div>
                    <div class="address-hours">
                        <p>Ежедневно: 9:00 - 21:00</p>
                    </div>
                </div>
                <div class="address-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.8363114352533!2d49.119629977089105!3d55.79608018865665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead15ac7b6077%3A0x1208c87ae0bd324e!2z0YPQuy4g0JvQvtCx0LDRh9C10LLRgdC60L7Qs9C-LCAxMNCwLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDExMQ!5e0!3m2!1sru!2sru!4v1749042683411!5m2!1sru!2sru"
                        width="100%" 
                        height="200" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-features">
                    <span class="feature">Wi-Fi</span>
                    <span class="feature">Доставка</span>
                </div>
            </div>

            <div class="address-card">
                <div class="address-info">
                    <h3>Butter cafe</h3>
                    <p class="address-street">ул. Щапова, 43</p>
                    <p class="address-metro">м. Площадь Тукая</p>
                    <div class="address-contacts">
                        <p>+7 (913) 353-22-22</p>
                        <p>butterbakery@mail.ru</p>
                    </div>
                    <div class="address-hours">
                        <p>Ежедневно: 9:00 - 21:00</p>
                    </div>
                </div>
                <div class="address-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.077216289973!2d49.13387497708894!3d55.79189708897903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead12a8cce581%3A0x533d4aea46eb2b61!2z0YPQuy4g0KnQsNC_0L7QstCwLCA0Mywg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAwMTI!5e0!3m2!1sru!2sru!4v1749042754191!5m2!1sru!2sru"
                        width="100%" 
                        height="200" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-features">
                    <span class="feature">Wi-Fi</span>
                    <span class="feature">Доставка</span>
                </div>
            </div>

            <div class="address-card">
                <div class="address-info">
                    <h3>Butter cafe</h3>
                    <p class="address-street">ул. Сибгата Хакима, 51</p>
                    <p class="address-metro">м. Козья слобода</p>
                    <div class="address-contacts">
                        <p>+7 (913) 353-22-22</p>
                        <p>butterbakery@mail.ru</p>
                    </div>
                    <div class="address-hours">
                        <p>Ежедневно: 9:00 - 21:00</p>
                    </div>
                </div>
                <div class="address-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.6628761603984!2d49.1433308770902!3d55.81645288708651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead58a52c425f%3A0x17058ffe10dc7456!2z0YPQuy4g0KHQuNCx0LPQsNGC0LAg0KXQsNC60LjQvNCwLCA1MSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAwNjY!5e0!3m2!1sru!2sru!4v1749042810956!5m2!1sru!2sru"\
                        width="100%" 
                        height="200" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-features">
                    <span class="feature">Wi-Fi</span>
                    <span class="feature">Доставка</span>
                </div>
            </div>

            <div class="address-card">
                <div class="address-info">
                    <h3>Butter cafe</h3>
                    <p class="address-street">ул. Чистопольская, 20а</p>
                    <p class="address-metro">м. Козья слобода</p>
                    <div class="address-contacts">
                        <p>+7 (913) 353-22-22</p>
                        <p>butterbakery@mail.ru</p>
                    </div>
                    <div class="address-hours">
                        <p>Ежедневно: 9:00 - 21:00</p>
                    </div>
                </div>
                <div class="address-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.5852753412555!2d49.10866507709024!3d55.817799986982614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead4dac22e375%3A0xe100451a2da1cb5e!2z0YPQuy4g0KfQuNGB0YLQvtC_0L7Qu9GM0YHQutCw0Y8sIDIw0LAsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMTI0!5e0!3m2!1sru!2sru!4v1749042843287!5m2!1sru!2sru"
                        width="100%" 
                        height="200" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-features">
                    <span class="feature">Wi-Fi</span>
                    <span class="feature">Доставка</span>
                </div>
            </div>
        </div>

        <div class="addresses-extra">
            <div class="extra-card">
                <h3>Доставка</h3>
                <p>Доставляем свежую выпечку в радиусе 5 км от каждой пекарни. Минимальный заказ - 1000₽.</p>
                <a href="#" class="delivery-link">Подробнее о доставке</a>
            </div>
            <div class="extra-card">
                <h3>Контакты</h3>
                <p>Телефон: +7 (913) 353-22-22</p>
                <p>Email: butterbakery@mail.ru</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 